@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "bitsix";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(99% 0.05 30.08);
  --color-base-content: oklch(20% 0 0);
  --color-primary: hsla(220, 85%, 13%, 1);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: hsla(211, 100%, 71%, 1);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: hsla(220, 32%, 28%, 1);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(39% 0.141 25.723);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
  --pre: "monospace";
}

@theme {
  --font-sans: Comfortaa;
}
